/* RESPONSIVE SECTOION */

@media screen and (max-width : 425px) {

    /* NAVIGATION SECTION */
    .logo{
        height: 60px;
        width: 60px;
    }
    .search {
        display: flex;
        margin-left: 0.1px;

    }

    .items {
        display: flex;
        margin-left: 10px;


    }
    
}